<mat-card class="example-card" [ngClass]="{'even': even, 'odd': !even }">
  <mat-card-header [class.even123]="even" [ngClass]="getClass()">
    <div [@cardState]="state" mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ place.title }}</mat-card-title>
    <mat-card-subtitle>{{ place.createdBy.createdDate | date: 'medium' | uppercase }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
     {{ place.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="toggleLikedState()">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!--
<pre>
  {{ place | json}}
</pre>



<div *ngFor="let item of place | keyvalue">
    key:{{item.key}}
    value: {{item.value}}
  </div> -->
