<div class="mat-typography">

  <mat-icon color="warn">home</mat-icon>

  <!-- <app-users></app-users> -->
  <app-header class="mat-elevation-z16"></app-header>
  <!-- <div id="testid">dsfsd</div>

  <app-list></app-list> -->


  <button mat-stroked-button [routerLink]="['']">users</button>
  <button disableRipple mat-flat-button [routerLink]="['users', '1']">users 1</button>

  <button mat-button [routerLink]="['city']">city</button>


  <router-outlet></router-outlet>
  <!-- <app-users></app-users> -->
</div>
